@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  canvas {
    @apply w-full sm:w-[90%] sm:max-w-[640px];
  }

  body {
    @apply h-lvh bg-[#242424];
  }

  button.standard-button {
    @apply transition my-1.5 cursor-pointer bg-black/25 p-1 rounded-sm lowercase hover:ring-[#535bf2] hover:ring-1 flex justify-center items-center gap-1 text-xs md:text-sm;
  }

  #effect-selector {
    @apply inline text-[1em] bg-black/25 p-1 rounded-sm lowercase;
  }

  #effect-selector:open option {
    @apply bg-black;
  }

  button.standard-button img {
    @apply w-5 h-5;
  }

  .standard-button.active {
    @apply ring-white ring-1;
  }

  .snapshot-timer {
    @apply absolute top-0 left-0 bg-black/50 flex justify-center items-center text-5xl font-bold;
  }

  .download-button {
    @apply bg-white border-solid border-1 border-[#999] text-[#646cff] cursor-pointer flex-1 p-2.5 text-center font-semibold;
  }

  #modal {
    @apply fixed w-full h-full top-0 left-0 right-0 bottom-0 bg-black/90 hidden;
  }

  #modal.modal-active {
    @apply flex justify-center items-center z-10;
  }

  button:disabled,
  input:disabled {
    @apply cursor-not-allowed opacity-60;
  }

  footer img,
  footer a {
    @apply w-7.5 h-7.5;
  }

  footer a {
    @apply transition-opacity duration-200 ease-linear block opacity-50 hover:opacity-100;
  }

  fieldset {
    @apply mb-1;
  }

  fieldset > div {
    @apply flex items-center gap-1;
  }

  legend {
    @apply font-bold drop-shadow-sm drop-shadow-black/40;
  }

  input[type='radio'],
  input[type='checkbox'] {
    @apply w-5 h-5;
  }

  [popover]:popover-open {
    @apply translate-y-0 starting:translate-y-full;
  }

  [popover] {
    @apply absolute h-2/5 w-full top-[calc(100%-40%)] bottom-0 left-0 pt-2 rounded-t-lg ring-1 ring-white/20 shadow-[0_-8px_5px_rgba(0,0,0,0.4)] transition-all transition-discrete duration-200 translate-y-full bg-[#242424];
  }

  [popover]:popover-open::backdrop {
    @apply opacity-100 starting:opacity-0;
  }

  [popover]::backdrop {
    @apply bg-black/60 opacity-0 duration-200 transition-discrete;
  }

  #install-app-button {
    @apply hidden;
  }

  @media (display-mode: browser) {
    #install-app-button {
      @apply block;
    }
  }

  .options-container {
    @apply flex-1 pl-2 pb-12 h-full overflow-y-scroll;

    .sticky {
      display: none;
    }
  }

  .preview-container {
    @apply text-[#333] w-fit max-w-4/5 bg-white rounded-md;
  }

  main {
    @apply relative flex flex-col;
  }

  @media (orientation: landscape) {
    main {
      @apply sm:w-[50%];
    }

    [popover] {
      @apply h-1/2 top-[calc(100%-50%)];
    }

    .options-container {
      @apply flex-1 pb-10 lg:overflow-hidden overflow-y-scroll relative;

      .sticky {
        display: block;
      }
    }

    .preview-container {
      @apply h-[calc(100vh-60px)];

      video {
        @apply h-[calc(100%-80px)] justify-self-center;
      }
    }
  }
}
