#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;

  width: 100%;
  height: 100%;
}

canvas {
  flex: 1;
  vertical-align: bottom;
}

.controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  border-radius: 0;
  display: block;
  padding: 5px;
  text-transform: lowercase;
}

button.with-icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

button:focus,
button:focus-visible,
button.active {
  outline: 1px solid white;
}

fieldset {
  padding: 0;
  border: none;
}

.canvas-container {
  position: relative;
}

.snapshot-timer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
}

.snapshot-container {
  display: flex;
  gap: 5px;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  #root {
    display: block;
    padding: 0;
  }

  canvas {
    width: 100%;
  }

  .controls {
    align-items: flex-start;
    margin: 5px;
  }

  .effects-container {
    flex: 1;
  }

  .options-container {
    flex: 1;
    height: 250px;
    overflow-y: scroll;
  }
}
