#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;

  width: 100%;
  height: 100%;
}

canvas {
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

button {
  border-radius: 0;
  display: block;
  padding: 5px;
  text-transform: lowercase;
}

button:focus,
button:focus-visible,
button.active {
  outline: 1px solid white;
}

fieldset {
  padding: 0;
  border: none;
}
