@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  canvas {
    @apply w-full sm:w-auto;
  }

  body {
    @apply h-lvh bg-[#242424];
  }

  button.standard-button {
    @apply transition my-1.5 cursor-pointer bg-black/25 p-1 rounded-sm lowercase hover:ring-[#535bf2] hover:ring-1 flex justify-center items-center gap-1;
  }

  .standard-button.active {
    @apply ring-white ring-1;
  }

  .snapshot-timer {
    @apply absolute top-0 left-0 bg-black/50 w-full h-[87%] flex justify-center items-center text-5xl font-bold md:h-11/12;
  }

  .download-button {
    @apply bg-white border-solid border-1 border-[#999] text-[#646cff] cursor-pointer flex-1 p-2.5 text-center font-semibold;
  }

  button:disabled,
  input:disabled {
    @apply cursor-not-allowed;
  }

  footer img,
  footer a {
    @apply w-7.5 h-7.5;
  }

  footer a {
    @apply transition-opacity duration-200 ease-linear block opacity-50 hover:opacity-100;
  }

  fieldset {
    @apply mb-1;
  }

  fieldset > div {
    @apply flex items-center gap-1;
  }

  legend {
    @apply font-bold drop-shadow-sm drop-shadow-black/40;
  }

  input[type='radio'],
  input[type='checkbox'] {
    @apply w-5 h-5;
  }

  [popover]:popover-open {
    @apply translate-y-0 starting:translate-y-full;
  }

  [popover] {
    @apply absolute h-2/5 w-full top-[calc(100%-40%)] bottom-0 left-0 pt-2 rounded-t-lg ring-1 ring-white/20 shadow-[0_-8px_5px_rgba(0,0,0,0.4)] transition-all transition-discrete duration-200 translate-y-full bg-[#242424];
  }

  [popover]:popover-open::backdrop {
    @apply opacity-100 starting:opacity-0;
  }

  [popover]::backdrop {
    @apply bg-black/60 opacity-0 duration-200 transition-discrete;
  }
}
